################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HR-Program/v15/Server/sqlite3
/.vs/HR-Program/v15/.suo
/.vs/HR-Program/bin
